html {
  font-family: var(--font-family-lato);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--darkest-purple-color);
  color: var(--color-white);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
