@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.paletteContainer {
  display: flex;

  height: 10px;
  flex-grow: 1;
}

.paletteColor__light,
.paletteColor__medium,
.paletteColor__dark {
  flex: 1;
}

.paletteColor__dark {
  background-color: var(--dark-purple-color);
}

.paletteColor__medium {
  background-color: var(--medium-purple-color);
}

.paletteColor__light {
  background-color: var(--light-purple-color);
}
